<html>
    <head><h1>Tambah Buku</h1></head>
    <body>
        <form action="/save" method="post">
            <div class="form-grup">
                <label for="name">Nama:</label>
                <input type="text" class="form-control" id="nama_buku" placeholder="Masukkan Nama Buku" name="nama_buku" required>
            </div>
            <div class="form-grup">
                <label for="name">Harga ($):</label>
                <input type="number" class="form-control" id="harga" placeholder="Masukkan Harga" name="harga" required>
            </div>
            <div class="form-grup">
                <label for="name">Stok:</label>
                <input type="number" class="form-control" id="stok" placeholder="Masukkan Stok" name="stok" required>
            </div>
            <button type="submit" class="btn">submit</button>
        </form>
    </body>
</html>